.about {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0;
    width: 100%;

    // TODO: проработать на бОльших разрешениях
    margin-bottom: -200px;
  }

  &-item {
    position: relative;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 1280px) {
      flex-direction: column;
      max-width: 425px;
    }

    @media screen and (min-width: 1600px) {
      max-width: 500px;
    }

    @media screen and (min-width: 1920px) {
      max-width: 600px;
    }

    &__img {
      display: flex;
      justify-content: center;

      @media screen and (min-width: 768px) {
        display: inline;
      }

      &_fox {
        position: absolute;
        top: -67px;
        left: -60px;

        @media screen and (min-width: 375px) {
          left: -60px;
        }

        @media screen and (min-width: 425px) {
          top: -100px;
          left: -60px;
        }

        @media screen and (min-width: 768px) {
          top: -270px;
          left: 0;
        }

        @media screen and (min-width: 1280px) {
          top: -144px;
          left: 0;
        }

        img {
          width: 144px;
          height: 140px;

          @media screen and (min-width: 1280px) {
            width: 181px;
            height: 175px;
          }
        }
      }

      &_tower {
        display: none;

        @media screen and (min-width: 768px) {
          display: inline-flex;
          position: absolute;
          top: -480px;
          right: 0;
        }

        @media screen and (min-width: 1280px) {
          order: -1;
          top: -40px;
        }

        @media screen and (min-width: 1600px) {
          width: 135px;
          right: -30px;
          top: -50px;
        }

        @media screen and (min-width: 1600px) {
          top: -100px;
        }

        img {
          height: 382px;

          @media screen and (min-width: 1280px) {
            height: 231px;
          }

          @media screen and (min-width: 1600px) {
            width: 135px;
            height: 315px;
          }

          @media screen and (min-width: 1600px) {
            height: 377px;
          }
        }
      }

      &_lebedev {
        width: 240px;
        height: 213px;

        @media screen and (min-width: 1280px) {
          margin-right: auto;
        }
      }

      &_devil {
        img {
          width: 107px;
          height: 154px;

          @media screen and (min-width: 480px) {
            width: 145px;
            height: 208px;
          }

          @media screen and (min-width: 1366px) {
            width: 120px;
            height: 173px;
          }
        }
      }

    }

    &__title {
      position: relative;

      &:not(:first-child) {
        margin-top: 28px;
      }

      @media screen and (min-width: 425px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 50px;
      }

      @media screen and (min-width: 480px) {
        gap: 0;
      }

      @media screen and (min-width: 768px) {
        gap: 100px;
      }

      @media screen and (min-width: 1280px) {
        gap: 0;
      }

      &-text {
        font-family: 'Comic CAT', sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;

        @media screen and (min-width: 480px) {
          font-size: 60px;
          line-height: 110%;
        }
      }

      &-icon {
        position: relative;
        left: 180px;

        @media screen and (min-width: 425px) {
          position: static;
          left: 230px;
        }
      }
    }

    &__title-image {
      display: none;
    }

    &__text {
      font-family: 'Onest', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #000000;
      margin-top: 8px;

      @media screen and (min-width: 1024px) {
        font-size: 24px;
      }

      @media screen and (min-width: 1366px) {
        font-size: 28px;
      }

      &_red {
        color: #E13914;
      }
    }

    &_fawkes {

      @media screen and (min-width: 768px) {
        padding-right: 140px;
      }

      @media screen and (min-width: 1280px) {
        padding-right: 0;
        margin-top: -155px;
      }

      @media screen and (min-width: 1600px) {
        .about-item__title {
          gap: 70px;
        }
      }
    }

    &_lebedev {
      margin-top: 48px;

      @media screen and (min-width: 768px) {
        margin-top: 100px;
      }

      @media screen and (min-width: 1280px) {
        margin-left: auto;
        margin-top: -320px;
      }

      @media screen and (min-width: 1920px) {
        margin-top: -200px;
      }
    }

    &_devil {
      margin-top: 48px;

      @media screen and (min-width: 768px) {
        margin-top: 100px;
        gap: 50px;
        flex-direction: row-reverse;
      }

      @media screen and (min-width: 1280px) {
        flex-direction: column;
        gap: 0;
        margin-top: -290px;

        .about-item__img {
          display: none;
        }

        .about-item__title-image {
          display: inline;
        }

        .about-item__title {
          flex-direction: row;
          justify-content: space-between;
        }

      }

      @media screen and (min-width: 1600px) {
        margin-top: -150px;
      }
    }
  }

  &-timeline {
    position: relative;
    display: block;

    .timeline-top,
    .timeline-bottom {
      display: none;
    }

    @media screen and (min-width: 1280px) {
      .timeline-top {
        display: block;
        position: absolute;
        top: -1100px;
        right: -30%;
      }
      .timeline-bottom{
        display: block;
        position: absolute;
        top: 460px;
        right: -30%;
      }
    }

    @media screen and (min-width: 1366px) {
      .timeline-top,
      .timeline-bottom {
        display: none;
      }
    }

    .timeline-first {
      position: absolute;
      top: -1000px;
      right: -30%;
      display: none;

      @media screen and (min-width: 1366px) {
        display: block;
        top: -1231px;
        right: -33%;
      }

      @media screen and (min-width: 1440px) {
        right: -22%;
      }

      @media screen and (min-width: 1600px) {
        top: -1264px;
        right: -20%;
      }

      @media screen and (min-width: 1920px) {
        top: -1160px;
        right: -7%;
      }
    }
  }
}
