.again {

  &__wrapper {
    padding: 30px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;


    @media screen and (min-width: 1280px) {
      padding: 0;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: flex-end;
      position: relative;
    }
  }

  &__image {
    width: 226px;

    @media screen and (min-width: 375px) {
      width: 300px;
    }

    @media screen and (min-width: 480px) {
      width: 315px;
    }

    @media screen and (min-width: 768px) {
      width: 393px;
    }

    @media screen and (min-width: 1024px) {
      width: 487px;
    }

    @media screen and (min-width: 1280px) {
      width: 675px;
      position: absolute;
      right: -156px;
      bottom: -485px;
    }

    @media screen and (min-width: 1600px) {
      right: -120px;
      bottom: -608px;
    }

    img {
      max-width: 100%;
    }

    &--hydra {
      @media screen and (min-width: 1280px) {
        bottom: -434px;
        left: 62%;
      }

      @media screen and (min-width: 1600px) {
        bottom: -667px;
        left: 65%;
      }

      @media screen and (min-width: 1920px) {
        left: 58%;
      }
    }

    &--victorine {

      @media screen and (min-width: 1280px) {
        bottom: -532px;
        left: 63%;
        width: 782px;
      }

      @media screen and (min-width: 1600px) {
        left: 53%;
      }

      @media screen and (min-width: 1920px) {
        left: 58%;
      }
    }

    &--victorine-hydra {

      @media screen and (min-width: 1280px) {
        bottom: -330px;
        left: 70%;
        width: 675px;
      }

      @media screen and (min-width: 1600px) {
        bottom: -582px;
        left: 65%;
      }
    }

    &--maestro {
      width: 281px;

      @media screen and (min-width: 480px) {
        width: 315px;
      }

      @media screen and (min-width: 768px) {
        width: 388px;
      }

      @media screen and (min-width: 1024px) {
        width: 487px;
      }

      @media screen and (min-width: 1280px) {
        width: 783px;
        bottom: -577px;
        right: -271px;
        z-index: 2;
      }

      @media screen and (min-width: 1600px) {
        right: -90px;
      }

      @media screen and (min-width: 1920px) {
        right: 40px;
      }
    }

    &--maestro-gif {
      position: absolute;

      @media screen and (min-width: 1280px) {
        bottom: -615px;
        width: 730px;
      }
    }

    &--maestro-gif-victorine {
      position: absolute;

      @media screen and (min-width: 1280px) {
        bottom: -582px;
        width: 730px;
      }

      @media screen and (min-width: 1600px) {
        width: 782px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    @media screen and (min-width: 1280px) {
      align-items: flex-start;
      margin: 140px 0 0 86px;
    }
  }

  &__title {
    max-width: 840px;

    h1 {
      font-family: 'Comic CAT', sans-serif;
      font-weight: 400;
      font-size: 34px;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;

      @media screen and (min-width: 400px) {
        margin: 0;
      }

      @media screen and (min-width: 768px) {
        font-size: 60px;
        line-height: 110%;
      }

      @media screen and (min-width: 1280px) {
        text-align: left;
        font-size: 78px;
        line-height: 110%;
      }
    }

    &--maestro {
      max-width: 700px;
    }
  }

  &__text {
    margin-top: 12px;
    font-family: 'Onest', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;

    @media screen and (min-width: 375px) {
      font-size: 24px;
    }

    @media screen and (min-width: 480px) {
      font-size: 28px;
    }

    @media screen and (min-width: 1280px) {
      text-align: left;
      max-width: 600px;
    }
  }
}

