.play {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }

  &-virus {
    display: flex;
    pointer-events: none;
    position: absolute;
    bottom: 200px;
    left: 4%;
    right: 4%;

    @media screen and (min-width: 768px) {
      bottom: 100px;
      left: 13%;
      right: 13%;
    }

    @media screen and (min-width: 1280px) {
      //right: 160px;
      bottom: 300px;
    }

    @media screen and (min-width: 1600px) {
      //right: 200px;
    }

    @media screen and (min-width: 1920px) {
      //right: 300px;
    }

    &__icon {
      &--left {
        width: 40px;
        height: 40px;
        margin-right: auto;

        @media screen and (min-width: 768px) {
          display: none;
        }
      }

      &--right {
        margin-left: auto;
      }
    }
  }

  &-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @media screen and (min-width: 1280px) {
      z-index: 10;
      position: sticky;
      top: 36vh;
      margin-top: 120px;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }

    &__wrapper {
      position: relative;

      &:hover img {
        animation: spin 3s infinite linear;
      }
    }

    &__img {
      width: 200px;
      height: 200px;
      cursor: pointer;

      @media screen and (min-width: 480px) {
        width: 240px;
        height: 240px;
      }
    }

    &__text {
      font-family: 'Comic CAT', sans-serif;
      font-size: 26px;
      line-height: 30px;
      font-weight: 400;
      color: #FFF;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      cursor: pointer;
    }
  }
}
