*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
button:active,
button:focus {
  outline: none;
}

body {
  min-height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
